/*
----------------------------------
copyright 2022 RAKIB HASAN
----------------------------------
*/

/*
----------------------------------
LINK FONTS
----------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/*
----------------------------------
BASIC SETUP
----------------------------------
*/

:root {

    /* Color */
    --orange-color: #da722c;
    --dark-blue-color: #023047;
    --dark-color: #070917;
    --light-color: #e8f7fb;
    --light-blue-color: #6f7dfb;
    --blue-color: #057ADA;
    --body-text-color: rgb(68, 68, 68);
    
    /* Shadow */
    --shadow-1: 0 0 1px 20px rgba(17, 37, 109, .1);
    --shadow-2: 0 4px 1px 28px rgba(17, 37, 109, .9);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::after,
*::before { box-sizing: border-box; }

::after,
::before { transition: all 300ms ease-in-out; }

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--body-text-color);
    text-rendering: optimizeLegibility;
    line-height: 1.3;
    font-size: 1.6rem;
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    height: 0;
    visibility: hidden;
}

:focus { outline: none; }

input:focus,
.select select:focus,
.form-control:focus {
	border: none;
	box-shadow: none;
}

.btn:link,
.btn:visited, 
.btn {
	background: #eb7d4b;
	border-bottom: .3rem solid #c86a40;
	padding: 1.5rem 6.0rem;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	border-radius: .3rem;
	display: inline-block;
	margin-top: 4.5rem;
	font-size: 1.6rem;
}

.btn.dark { background: var(--dark-blue-color); }

.btn.light { background: var(--orange-color); }

ul {
    padding: 0;
    margin: 0;
}

ul li { list-style-type: none; }

ul li a { text-decoration: none; }

a,
a:hover,
a:focus,
a:active {
	outline: none;
	text-decoration: none;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	color: #333;
	margin: 0 0 8px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	text-transform: capitalize;
	font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

h1 { font-size: 4rem; }

h2 { font-size: 2.8rem; }

h3 { font-size: 2.4rem; }

h4 { font-size: 1.8rem; }

h5 { font-size: 1.6rem; }

h6 { font-size: 1.4rem; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: var(--dark-color);
    font-weight: 600;
}

p a { color: var(--body-text-color); }

p {
	letter-spacing: normal;
	line-height: 20px;
	margin: 0 0 20px;
    font-size: 1.6rem;
    color: #000;
}

textarea,
select,
.tg-select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #666;
	outline: none;
	background: #fff;
	font-size: 13px;
	border-radius: 0;
	box-shadow: none;
	line-height: 1.3;
	padding: 10px 15px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ddd;
	text-transform: capitalize;
	box-sizing: border-box;
}

/*
----------------------------------
REUSABLE COMPONENT
----------------------------------
*/

/* .wrapper {
    max-width: 1134px;
    margin: 0 auto;
} */

/*
----------------------------------
HEADER SECTION
----------------------------------
*/

/* TOP HEADER */

/* BOTTOM HEADER */

/* NAV */

/*
----------------------------------
MAIN SECTION
----------------------------------
*/

/*
----------------------------------
HERO SECTION
----------------------------------
*/

/*
----------------------------------
GALLERY SECTION
----------------------------------
*/

/*
----------------------------------
TEAM SECTION
----------------------------------
*/

/*
----------------------------------
PORTFOLIO SECTION
----------------------------------
*/

/*
----------------------------------
ABOUT US SECTION
----------------------------------
*/

/*
----------------------------------
CONTACT SECTION
----------------------------------
*/

/*
----------------------------------
FOOTER SECTION
----------------------------------
*/

/* ------- TOP FOOTER SECTION ------- */
/* ------- BOTTOM FOOTER SECTION ------- */